#main-nav {
  height: 40px;
  background-color: #319197;
  cursor: pointer;
  user-select: none;
}

#main-nav ul {
  list-style: none;
  margin-left: 50px;
}

#main-nav li {
  display: inline-block;
  line-height: 40px;
  height: 40px;
}

#main-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0px 20px;
}

#main-nav a:hover {
  background-color: #ff7a18;
}