# misc
.DS_Store
*.pem

# Logs
logs
*.log

# Dependency directories
node_modules/
/.pnp
.pnp.js
jspm_packages/
.npm

# next.js
.next/
/out/

# production
build/

#pyenv
.python-version
__pycache__

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

react-app-env.d.ts

#python

packages/shadowless

# Optional eslint cache
.eslintcache

# vercel
.vercel

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json