@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');
$main-font: 'Bad Script',
cursive;

.font-sans {
  font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "微软雅黑";
}

// .font-serif {
//   // font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
// }

.font-art {
  font-family: 'Source Serif Pro', 'The Rivened', 'Times New Roman', 'Segoe UI', serif, 'STKaiti', 'KaiTiGB2312', 'KaiTi';
}

.font-code {
  font-family: 'CamingoCode', monospace, sans-serif;
}

.font-read {
  font-family: 'DejaVu Sans Book', Arial, Helvetica, sans-serif;
}

.font-rem-half {
  font-size: 0.5rem;
}

.font-rem-2 {
  font-size: 2rem;
}

.font-rem-4 {
  font-size: 4rem;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/metropolis-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DejaVu Sans Book';
  src: url('../assets/fonts/DejaVuSans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../assets/fonts/ebgaramond.woff2') format('woff2'),
    url('../assets/fonts/ebgaramond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('../assets/fonts/CamingoCode-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* cyrillic */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7pO8kzP9Ddt2Wew.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}