@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "variables";
@import "font";
@import "compat";

:root {
  --c-bg: #fff;
  --c-header-bg: #24292e;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

[id] {
  scroll-margin-top: 2ex;
}


body {
  background-color: var(--c-bg);
  @apply text-gray-700;
}

.article-title {
  font-weight: bold;
}

.artile-content {
  width: 600px;
}

body.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  @apply text-gray-200;
}