$bg: var(--c-header-bg);

#main-nav {
  height: 40px;
  background: $bg;
  user-select: none;
  font-size: 16px;
}

#main-nav ul {
  list-style: none;
  // margin-left: 50px;
}

#main-nav li {
  display: inline-block;
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  margin: 0px 20px 0px 0px;
  color: #fff;
}

#main-nav a {
  text-decoration: none;
}

#main-nav li:hover {
  line-height: 40px;
  color: #ddd;
}